.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    > .col,
    > [class*="col-"] {
      padding-right: 1;
      padding-left: 1;
    }
  }

#header {
    background-color: wheat;
}

.lftrail {
    background-color: darkseagreen;
}

h3 {
    color: black
}

.wheat {
    color: wheat;
}
